---
title: AnimalColor
lvup:
- [dog, bag, 赤]
- [dog, 白, bag]
- [cat, bag]
- [cat, 青]
- [dog, 青, bag]
feats:
- one
- two
- three
- four
- five
- six
- seven
- four
---

<ol>
  {% assign xs = "" | split: "" %}
  {% assign ys = page.feats %}
  {% for lvup in page.lvup %}
  {% capture odd %}{% cycle "odd", "even" %}{% endcapture %}
  {% assign class = lvup.first %}
  {% assign feats = lvup | shift %}
  {% assign xs = xs | push: class %}
  {% assign num = xs | where_exp: "v", "v == class" | size %}
  <li>
    <span>{{ class }}</span>
    <span>{{ num }}</span>
    {{ odd | inspect }}
    {% if odd == "odd" %}
    {% assign f = ys.first %}
    {% assign ys = ys | shift %}
    <span>{{ f }}</span>
    {% endif %}
    {% for feat in feats %}
    {% if feat == "bag" %}
    {% assign f = ys.first %}
    {% assign ys = ys | shift %}
    <span>{{ f }}</span>
    {% else %}
    <span>{{ feat }}</span>
    {% endif %}
    {% endfor %}
  </li>
  {% endfor %}
</ol>