---
title: AnimalColor
---
<h1>Animal Color</h1>
<table class="table table-hover table-striped">
  <tr>
    <th>-</th>
    {% for color in site.data.colors %}
    <th>{{ color }}</th>
    {% endfor %}
  </tr>
  {% for animal in site.animals %}
  <tr>
    <th>
      <a href="{{ animal.url }}"> {{ animal.title }} </a>
    </th>
    {% for color in site.data.colors %}
    {% if animal.colors contains color %}
    <td>○</td>
    {% else %}
    <td>−</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>