---
title: Artisan
---
<h1>職人</h1>
<table class="table table-hover table-striped">
  <tr>
    <th>職人</th>
    {% for ability in site.data.kingdom_abilities %}
    <th>{{ ability }}</th>
    {% endfor %}
  </tr>
  {% for artisan in site.data.artisans %}
  <tr>
    <th>{{ artisan["職人"] }}</th>
    {% for ability in site.data.kingdom_abilities %}
    <td>
      {% case ability %}
      {% when artisan["能力1"] %}
      {{ artisan["ランク1"] }}
      {% when artisan["能力2"] %}
      {{ artisan["ランク2"] }}
      {% else %}
      −
      {% endcase %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>