.current {
  color: green;
}

a {
  color: rgb(51, 122, 183);
  text-decoration-line: none;
  text-decoration-thickness: initial;
  font-weight: 400;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  font-weight: 400;
}
