---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="row">
  <div class="col-sm-4">
    <h2>能力値</h2>
    <table class="table table-hover table-striped">
      {% for row in page.ability %}
      <tr>
        <th>{{ row[0] }}</th>
        <td>{{ row[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-4">
    <h2>セーヴ</h2>
    <table class="table table-hover table-striped">
      {% for row in page.save %}
      <tr>
        <th>{{ row[0] }}</th>
        <td>{{ row[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-4">
    <h2>戦闘</h2>
    <table class="table table-hover table-striped">
      {% for row in page.battle %}
      <tr>
        <th>{{ row[0] }}</th>
        <td>{{ row[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<h2>レベルアップ</h2>
<table class="table table-hover table-striped">
  {% assign xs = "" | split: "" %}
  {% assign ys = page.feats %}
  {% for entry in page.levelup %}
  {% capture odd %}{% cycle "odd", "even" %}{% endcapture %}
  {% assign class = entry.first %}
  {% assign feats = entry | shift %}
  {% assign xs = xs | push: class %}
  {% assign class_lv = xs | where_exp: "v", "v == class" | size %}
  {% assign lv = forloop.index %}
  <tr class="row">
    <th class="col-sm-1">{{ lv }}</th>
    <td class="col-sm-3">{{ class }}{{ class_lv }}</td>
    <td class="col-sm-8">
      {% if lv == 1 and page.race == "人間" %}
      {% assign feat = ys.first %}
      {% assign ys = ys | shift %}
      <span>《{{ feat }}》</span>
      {% endif %}
      {% if odd == "odd" %}
      {% assign feat = ys.first %}
      {% assign ys = ys | shift %}
      <span>《{{ feat }}》</span>
      {% endif %}
      {% for feat in feats %}
      {% if feat == "特技" %}
      {% assign f = ys.first %}
      {% assign ys = ys | shift %}
      <span>《{{ f }}》</span>
      {% else %}
      <span>《{{ feat }}》</span>
      {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

<h2>呪文</h2>
<table class="table table-hover table-striped">
  {% for entry in page.spells %} {% assign lv = entry[0] %} {% assign spells =
  entry[1] %}
  <tr class="row">
    <th class="col-sm-1">{{ lv }}</th>
    <td class="col-sm-11">
      {% for spell in spells %}
      <span>〈{{ spell }}〉</span>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{{ page.content | markdownfy }}